<<<<<<< HEAD
<<<<<<< HEAD
body{
    height: auto;
    margin: 0;
    padding-top: 0;
    font-family: sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background: rgb(0, 0, 0,.4);
    padding: 0;
}

.intro {
    width: 400px;
    margin: 0 auto;

}
<<<<<<< HEAD
=======
=======
>>>>>>> 3a16e0a97ba790395aec18bf1d87e703032ce8d7
footer {
    position: fixed;
=======
footer {
>>>>>>> 0885d0f4564a3096f75325bda70ae29814685882
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
 }
 h6{
     font-size: 20px;
 }
<<<<<<< HEAD
<<<<<<< HEAD
    
>>>>>>> add footer
=======
    
>>>>>>> 3a16e0a97ba790395aec18bf1d87e703032ce8d7
=======
>>>>>>> 0885d0f4564a3096f75325bda70ae29814685882
