
body{
    height: auto;
    margin: 0;
    padding-top: 0;
    font-family: sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background: rgb(0, 0, 0,.4);
    padding: 0;
}

.intro {
    width: 400px;
    margin: 0 auto;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
 }
 h6{
     font-size: 20px;
 }
 .introduction{
     text-align: center;
     text-emphasis-color: burlywood;
     font-style: inherit;
 }
 h5{
     color:grey;
 }
 .social ul{
    text-decoration: none;
    list-style-type: none;

 }
 .social ul li{
     display: inline;
     padding-right: 30px;
     text-align: center;
     font-size: 30px;
     border-radius: 50%;
 }
 .Tamount{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 20px;
     text-decoration: underline;
 }
 .no-input{
     display: none;
     text-align: center;
     background-color: red;
     font-weight: bold;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 20px;
 }
 .bal{
     border: 1px solid;
     padding: 5px 70px;
     border-radius: 5px;
     color: rgb(0, 0, 0, .3);
     width: 200px;
     height: 40px;
 }
 
 .column{
     float:left;
     width:90%;
     padding:10px;
     height:300px;
 }
 .row:after{
     content:"";
     display:table;
     clear:both;
 }
 h1{
     text-align: center;
     text-decoration: black;
 }


 .displayResult{
    margin-top: 50px;
    bottom: 0;
}


#errmsg{
    font-weight: bold;
    color: red;
    font-size: 20px;
}


#error{
    font-weight: bold;
    color: red;
    font-size: 20px;
}


table, th, td{
    border: 1px solid;
    border-radius: 5px;
}

tfoot{
    font-weight: bold;
}

#postIncome{
    background: green;
}
