
body{
    height: auto;
    margin: 0;
    padding-top: 0;
    font-family: sans-serif;
    background: url(../images/money.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background: rgb(0, 0, 0,.4);
    padding: 0;
}

.intro {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
 }
 h6{
     font-size: 20px;
 }
 .introduction{
     text-align: center;
     text-emphasis-color: burlywood;
     font-style: inherit;
 }
 h5{
     color:black;
 }
 .social ul{
    text-decoration: none;
    list-style-type: none;

 }
 .social ul li{
     display: inline;
     padding-right: 30px;
     text-align: center;
     font-size: 30px;
     border-radius: 50%;
 }
 .social ul{
    text-decoration: none;
    list-style-type: none;

 }
 .social ul li{
     display: inline;
     padding-right: 30px;
     text-align: center;
     font-size: 30px;
     border-radius: 50%;
 }
 .social ul{
    text-decoration: none;
    list-style-type: none;

 }
 .social ul li{
     display: inline;
     padding-right: 30px;
     text-align: center;
     font-size: 30px;
     border-radius: 50%;
 }
 .social ul{
    text-decoration: none;
    list-style-type: none;

 }
 .social ul li{
     display: inline;
     padding-right: 30px;
     text-align: center;
     font-size: 30px;
     border-radius: 50%;
 }
 .Tamount{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 20px;
     text-decoration: underline;
 }

 .no-input{
     /* display: none;
     text-align: center; */
     background-color:  rgb(255,0,0, .5);
     font-weight: bold;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 40px;
     color: white;
 }

 .bal{
     border: 1px;
     padding: 5px 70px;
     border-radius: 5px;
     color: white;
     width: 200px;
     height: 40px;
     background-color: rgb(0, 0, 0,.5);
 }
 
 .column{
     float:left;
     width:600px;
     /* padding:10px;
     height:300px; */
     box-shadow: 5px 5px 30px black, -5px -5px 30px black;
     padding:20px;
 }
 .row:after{
     content:"";
     display:table;
     clear:both;
 }
 h1{
     text-align: center;
     text-decoration: black;
 }


 .displayResult{
    margin-top: 50px;
    bottom: 0;
}


#errmsg{
    font-weight: bold;
    color: red;
    font-size: 20px;
}


#error{
    font-weight: bold;
    background-color: rgb(255,0,0, .5);
    color:white;
    font-size: 40px;
}


tfoot{
    font-weight: bold;
}

 h6{
     font-style: inherit;
     text-emphasis: bold;
 }
 h1{
     color:whitesmoke;
     font-style: inherit;
 }
 h3{
     color:black;
     text-shadow: 5px 5px 20px black, -5px -5px 20px black;
 }
 .social ul li{
     text-decoration: none;
     list-style-type: none;
 }
 .social ul li{
     display:inline;
     padding-right: 30px;
     text-align: center;
     font-size: 30px;
     border-radius: 50%;
 }
 .bal{
     margin-bottom:50px;
 }
 img{
     height:70px;
     margin-top: 20px;
     margin-left:30px;
 }
 .table{
     background-color:rgb(0,0,0, .5);
     color: white;
     padding: 20px;
 }
 .displayResult{
     padding-top: 40px;
 }
